* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     background-color :#1E1E2F;
     color: #fff;
}
.geeksterMon{
     font-family: 'Grandstander', cursive;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0 4px 10px rgba(255, 255, 255, 0.438);
    text-align: center;
}
#reset{
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      margin: 2px;
      height: 40px;
      width: 80px;
      text-align: center;
      font-weight: 700;
      background-color:#6C5CE7
}
#reset:hover{
     background-color: #A29BFE;
    box-shadow: 0 0 12px rgba(162, 155, 254, 0.8);
    transition: all 0.3s ease-in-out;
}

.wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 1rem;
     gap: 10px;
     margin-bottom: 30px;
}

#search {
     height: 40px;
     width: 25%;
     font-size: 0.8rem;
     font-weight: 600;
     color: black;
     background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20stroke%3D%22blue%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22/%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22/%3E%3C/svg%3E') no-repeat 10px center;
     border-radius: 10px;
     padding-left: 40px;
     background-color: #F4D03F;

}

#typeFilter, option {
     height: 40px;
     width: 10%;
     font-size: 0.8rem;
     background-color: #F4D03F;
     border-radius: 10px;
     font-weight: 600;
}


#loadMore {
     position: fixed;
     bottom: 2rem;
     right: 5rem;
     color: rgb(8, 94, 255);
     font-size: 2rem;
     height: 40px;
     width: 40px;
     font-weight: bold;
     background-color: black;
     border-radius: 50%;
     z-index: 1;

}

#loading {
     text-align: center;
     position: fixed;
     top: 40%;
     left: 32%;
     color: blue;
     font-size: 2rem;
}



/* Center Cards & Add Spacing */
#pokemons {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 60px;
     padding: 20px;
 }
 
 /* Card Size & Flip Effect */
 .card {
     width: 220px;
     height: 270px;
     position: relative;
     transform-style: preserve-3d;
     transition: transform 0.6s;
     border-radius: 12px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.308) ;
      perspective: 1200px;
 }
 
 .card.flip {
     transform: rotateY(180deg);
 }
 
 /* Front & Back Side */
 .front, .back {
     width: 220px;
     height: 300px;
     position: absolute;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 12px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
     padding: 30px;
     
     
 }
 
 .back {
     transform: rotateY(180deg);
 }
 
 /* Pokémon Image */
 .poke-img {
     width: 150px;
     height: 150px;
     margin-bottom: 20px;
 }
 
 /* Pokémon Name & Type */
 .poke-name {
     font-size: 19px;
     font-weight: bold;
     color: white;
     text-shadow: 1px 1px 2px black;
     margin:10px auto;
 }
 
 .poke-type {
     font-size: 15px;
     font-weight: bold;
     color: white;
      margin:5px auto ;
 }
 